@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

:root{
    --font-size-p: clamp(.5rem, 20px, 2rem);
    --font-size-h3: 26px;

    --border-color-sidenav: #00000055;

    --background-color-sidenav: #FCFCFC;
    --background-color-header: #F3F3F3;
    --button-backgroud-color-add: #69ff6911;
    --button-backgroud-color-add-hover: #69ff6933;
    --button-backgroud-color-cancel: #ff6b6b11;;
    --button-backgroud-color-cancel-hover: #ff6b6b33;
    --button-backgroud-color-active: #DDD;
    --border-color-add: #33ff33;
    --border-color-cancel: #ff3333;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100dvh;
    width: 100dvw;
    overflow-y: hidden;
    display: flex;
}

#sidenav{
    width: 15%;
    min-width: 250px;
}

#mainSidenavContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--background-color-sidenav);
    border-right: solid 0.5px var(--border-color-sidenav);
}

.sidenavButton{
    display: flex;
    align-items: flex-end;
    background: transparent;
    width: 80%;
    border-radius: 5px;
    padding: 1%;
    gap: 3%;
    margin-top: 8%;
    margin-left: 14%;
    cursor: pointer;
}

.buttonClicked{
    background-color: var(--button-backgroud-color-active);
}

.sidenavButton:first-child{
    margin-top: 30%;
}

.sidenavText{
    max-width: 100%;
    font-size: var(--font-size-p);
    font-weight: 200;
    margin-left: 2%;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sidenavImage{
    max-width: 1.5rem;
    max-height: auto;
}

#sidenavProjectText{
    padding-left: 10%;
    margin-top: 20%;
    padding-top: 5%;
    font-size: var(--font-size-h3);
    font-weight: 800;
    border-top: solid 1px var(--border-color-sidenav);
}

#createProjectDiv{
    display: flex;
    flex-direction: column;
}

.projectButton{
    background: transparent;
    cursor: pointer;
    display: flex;
    width: 80%;
    margin-left: 15%;
    margin-top: 9%;
    gap: .5rem;
}

.projectButton:last-child{
    gap: 2%;
}

#inputContainer{
    display: flex;
    flex-direction: column;
}

#createProjectInput{
    width: 80%;
    align-self: center;
    border: solid 1px var(--border-color-sidenav);
    font-size: var(--font-size-p);
    margin-bottom: 5%;
    margin-top: 9%;
}


#createProjectDivButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.addCancelButton{
    min-width: 30%;
    min-height: 15%;
    cursor: pointer;
    font-weight: bold;
}

#projectAdd{
    background-color: var(--button-backgroud-color-add);
    border: solid 1px var(--border-color-add);
}

#projectAdd:hover{
    background-color: var(--button-backgroud-color-add-hover);
}

#projectCancel{
    background-color: var(--button-backgroud-color-cancel);
    border: solid 1px var(--border-color-cancel);
}

#projectCancel:hover{
    background-color: var(--button-backgroud-color-cancel-hover);
}


#rightContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#headerContainer{
    background-color: var(--background-color-header);
}

#headerText{
    font-style: oblique;
    padding: 1%;
    padding-left: 10%;
    border-bottom: solid 1px var(--border-color-sidenav);
}

